html {
    
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin: 10px;
}


#listM li {
    padding: 0 20% 0 20%;
}

#brandName {
	font:normal 180% 'century gothic', arial;
	padding: 10px 0 0 20px;
    margin: 10px 0 0 0;
	color: #fff;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#mainNav {
    font-size: 200%;
    margin: 0;
}


.scrll {
    transition: all 0.5s;
}

.scrll.menu-out {
    transform: translateY(-100%);
}

div.menubar-btn {
    display: none;
}

button.navbar-toggler {
    margin-right: 20px;
}

button#menu-btn {
    background-color: #212529;
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    height: 38px; 
    margin: 10px 0 0 0;
    padding: 0;   
}

button#menu-btn span {
    margin: 0;
    padding: 0;    
}

div.menubar {
	width: 480px;
	height: 36px;
    float: right;
    margin: 20px 0 10px 0;
} 


div.navigation {
    float: left;
    width: 360px;
	height: 60px;
}

.navigation span {
    width: 110px;
    float: left;
    margin: 20px 0 0 20px;
    padding: auto;
}
.navigation h1 {
    width: 200px;
    float: left;
}

.menubar-btn {
    float: right;
    margin: 10px 20px 0 10px;
}

ul.menu {
	float: right;
    padding: 0;
}

ul.menu li {
	float: left;
	list-style: none;
}
ul.dropdown-menu li {
    padding: 0 20% 0 20%;
    width: auto;
}

form[role="search"] {
    float: left;
    font: normal 115% 'trebuchet ms', sans-serif;
}
form[role="search"] input.form-control  {
    width: 90px;
    float: left;    
}

form[role="search"] input[type="search"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

form[role="search"] button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: green
}

.buttonBase {
    font: normal 115% 'trebuchet ms', sans-serif;
    display: block;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
    margin: 0 5px 0 1px; 
    cursor: pointer;
    user-select: none;
}

.buttonBase:hover {
	color: #615863;
    border: darkslategray;
}

ul.menu li.selected span {
	color: #615863;
    border: darkslategray;
}
    /*main_content*/

.manga-block {
    height: 310px;
}

.manga-block span {
    font: normal 85% 'Arial', sans-serif;
    line-height: 100%;
    padding: 0;
    margin: 0;
     
}

.manga-box > span#title {
    font: normal 105% 'URW Chancery L', cursive;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: 2;   
}

.tags{
    font-size: 75%;
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    border: solid 1px #fff;
    border-radius: 10rem;
    
}
.flex {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow:4;
}

.manga-box > span#author {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: 1;
}

.manga-box > span#description {
    width: auto;    
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: 7;
    text-align: justify;
}

.manga-block {	
    padding: 0 !important;
    margin: 0 !important;
}

.manga-box {
    padding: 5px 15px 5px 10px;
}

#img {
	height: 100%;
	width: 100%;
    line-height: 100%;
}

.manga-block > .row {
    width: 98%;
    height:98%;
    margin: 0;
}

.row > .col-6 {
   
}

.row .border {  
    border-radius: 5px !important;
	border: solid 5px #dad7d5 !important;
}

.manga-block .row .col-6 {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

    /*-------------*/
@media screen and (max-width: 857px) {
    div.menubar{
        width: 45%;
    }
    ul.menu {
        display: none;
    } 
    div.menubar-btn {
        display: block;
        float: right top;
        margin: -10px 0 0 0;
    }
    form[role="search"] {
        float: left;
    }
}

@media screen and (max-width: 691px) {
    div.navigation {
        width: 50%;
    }
    div.navigation span {
        display: none;
    }
    form[role="search"] {
        display: none;
    }
    div.menubar{
        width: 45%;
    }
}

/*страница манги*/
/*
#mangaCover {
    width: 100%;
    height: auto;
    border: solid 6px #776b63;
    border-radius: 7px;  
}
#title {
    font: normal 105% 'URW Chancery L', cursive;
    text-align: center; 
}

.manga-card {
    border: solid 2px #e7e4e2;
    border-radius: 3px;
}

.manga-card > .col-lg-3 {
    padding: 2px 0 2px 4px;
}


.btn-full {
    padding: 3px 6px !important;
    width: 100%;
    margin-top: 5px;
}





.container-box {
    min-height: auto;
}

.box {
    padding: 10px 3% 0 3%;
}

.box:last-child {
    padding-bottom: 10px;
}



